@import './mixins';

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

input {
    border: none;
    background: transparent;
    outline: none;
}
  
a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
    outline: none;
}

.container {
    max-width: 1500px;
    height: 92vh;
    display: flex;
    justify-content: flex-start;

    margin: 0 auto;

    @include breakpoint(1200) {
        justify-content: center;
    }
}

.background {
    height: 87vh;
    overflow: hidden;

    background-image: url('../images/back-main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include breakpoint(1200) {
        background-position: left;
    }

    @include breakpoint(800) {
        background-position: left;
    }
}

.footer-background {
    min-height: 142px;
    overflow: hidden;

    background-image: url('../images/footer-back.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.register {
    width: 237px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    font-weight: 500;
    font-family: "Changa", serif;

    color: #3e161a;
    text-transform: uppercase;
    
    border-radius: 5px;      
    background-image: url('../images/back-button-header.png');
    background-repeat: no-repeat;
      
    cursor: pointer;

    &_big {
        width: 285px;
        height: 67px;

        align-self: center;

        background-image: url('../images/back-button-main.png');

        font-size: 24px;
        color: #fbc300;
    }
}

.text {
    text-transform: uppercase;
    color: #fbc300;
    line-height: 0.917;

    &__extra-bold {
        font-weight: 800;

        line-height: 1;
        text-align: left;
    }

    &_24px {
        font-size: 24px;
    }

    &_36px {
        font-size: 36px;
    }

    @include breakpoint(500) {
        &_30px {
            font-size: 25px;
        }
    
        &_60px {
            font-size: 40px;
        }
    }
}