.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 3;

    padding: 50px 25px 45px 75px;
    border-radius: 10px;
    
    font-family: "Changa", serif;

    color: #fbc300;

     p:nth-of-type(1) {
         margin-bottom: 40px;
     }

     p:nth-of-type(2) {
        margin-bottom: 18px;
    }

     a:nth-of-type(1) {
        margin-top: 40px;
     }

     &::after {
        content: "";
        position: absolute;
        width: 110px;
        height: 90px;
        top: -65px;
        left: 40px;

        background-image: url('../images/first-cash.png');
        background-repeat: no-repeat;
        background-position: center;
    }

    &::before {
        content: "";
        position: absolute;
        width: 110px;
        height: 90px;
        top: 150px;
        left: -90px;

        background-image: url('../images/first-cash.png');
        background-repeat: no-repeat;
        background-position: center;
    }

    &-wrapper {
        max-width: 696px;
        display: flex;
        justify-content: center;
        align-self: center;

        position: relative;
        background: url('../images/back-menu.png');    
        background-repeat: no-repeat;

        margin-left: 40px;

        &::before {
            content: "";
            position: absolute;
            width: 185px;
            height: 160px;
            bottom: -100px;
            left: -70px;
    
            background-image: url('../images/big-cash.png');
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    @include breakpoint(1100) { 
        padding-right: 40px;
    }

    @include breakpoint(480) {
        padding: 30px 10px 25px 25px;

        p:nth-of-type(1) {
            margin-bottom: 30px;
        }
   
        a:nth-of-type(1) {
           margin-top: 30px;
        }

        &-wrapper {
            margin-left: 0;
        }
        
    }

    @include breakpoint_h(668) {
        &-wrapper {
            align-self: flex-end;
            margin-bottom: 40px;
        }
    }

    @include breakpoint_h(568) {
        &-wrapper {
            align-self: flex-end;

            margin-bottom: 20px;
        }

        a:nth-of-type(1) {
            margin-top: 30px;
        }

        &::after {
            display: none;
        }
    }
}